[submodule "cloud/contrib/vhost"]
	path = cloud/contrib/vhost
	url = https://github.com/yandex-cloud/yc-libvhost-server
[submodule "entt"]
	path = cloud/contrib/entt
	url = https://github.com/skypjack/entt
